{% extends "auctions/layout.html" %}

{% block body %}
    {% for listing in Acution_listings %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      {% if listing.image %}
          <img src="{{ listing.image.url }}" alt="{{ listing.title }}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h5>
        <p class="card-text">Current Price: ${{ listing.current_price }}</p>
        <p class="card-text">{{ listing.description }}</p>
      </div>
    </div>
  </div>
</div>
    {% endfor%}
{% endblock %}