<!-- listing_detail.html -->

{% extends 'auctions/layout.html' %}

{% block body %}

<div class="card mb-3">
  {% if listing.image %}
    <img src="{{ listing.image.url }}" alt="{{ listing.title }}">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ listing.title }}</h5>
    <p class="card-text">{{ listing.description }}</p>
    <p class="card-text">Starting Bid: ${{ listing.starting_bid }}</p>
    <p class="card-text">Current Price: ${{ listing.current_price }}</p>
  </div>
</div>
<h3>Comments</h3>
    {% for comment in comments %}
      <p class="card-text"><small class="text-body-secondary">{{ comment.commenter.username }} said: {{ comment.text }}
      </small></p>
      {% endfor %}
<div  class="row row-cols-1 row-cols-md-3 g-4" >
 
  {% if user.is_authenticated %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <form method="post" action="{% url 'listing' pk=listing.pk %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary" >Add Comment</button>
      </form>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
  <form method="post" action="{% url 'listing' pk=listing.pk %}">
    {% csrf_token %}
    {{ bid_form.as_p }}
    <button class="btn btn-primary" type="submit">Place Bid</button>
  </form>
</div>
</div>
  </div>

  {% if request.user == listing.seller and not listing.closed %}
  <form method="post" action="{% url 'listing' pk=listing.pk %}">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" name="close_auction">Close Auction</button>
  </form>
  {% endif %}
  <form method="post" action="{% url 'listing' pk=listing.pk %}">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" name="watchlist_action">{% if watchlist_status %}Remove from Watchlist{% else %}Add to Watchlist{% endif %}</button>
  </form>
  {% endif %}
  </div>

  {% if won_auction %}
    <p>Congratulations! You won this auction!</p>
  {% endif %}
{% endblock %}
