$primary-color: #71C9CE;
$secondary-color: #CBF1F5;

// Apply styles to the HTML elements
h1 {
  color: $primary-color;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;

  a {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
